[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Official upstream development repository for Cabal and cabal-install
[access "refs/*"]
	owner = group user/Andrea Bedini (andreabedini)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Andrea Bedini (andreabedini)
	label-Verified = -1..+1 group user/Andrea Bedini (andreabedini)
	push = group user/Andrea Bedini (andreabedini)
	read = group user/Andrea Bedini (andreabedini)
	rebase = group user/Andrea Bedini (andreabedini)
	removeReviewer = group user/Andrea Bedini (andreabedini)
	submit = group user/Andrea Bedini (andreabedini)
[access "refs/heads/*"]
	create = group user/Andrea Bedini (andreabedini)
	push = +force group user/Andrea Bedini (andreabedini)
	pushMerge = group user/Andrea Bedini (andreabedini)
	read = group user/Andrea Bedini (andreabedini)
[access "refs/tags/*"]
	push = group user/Andrea Bedini (andreabedini)
	push = +force group user/Andrea Bedini (andreabedini)
